@import "bourbon";
@import "font-awesome";

body {
    @include linear-gradient(to top, lightgrey, grey); 

}
.title {
  text-align: center;
}
.sub {
  text-align: center;
  font-size: 18pt;
}
  img {
   max-width: 250px;
   margin-left: auto;
   margin-right: auto;
   float: right;
   border-radius: 41px;
   max-height: 250px;
}

.app {
   max-width: 40em;
   margin-left: auto;
   margin-right: auto;
  @include linear-gradient(to top, blue, lightblue); 
  font-family: 'Poiret One', serif;
   border: 10px solid darkgreen;
   border-radius: 50px;
   box-shadow: 0px 0px 10px 5px rgba(68,85,102,0.5);
   length: 100px;
   font-size: 16pt;
 }

 li {
  
    cursor: pointer;
}
.add-user {
  margin-left: auto;
   margin-right: auto;
}

// // h1 {
// //   font-size: 16pt;
// //   text-align: center;
// // }
// // h2 {
// //   font-size: 14pt;
// //   text-align: center;

// // }

ul{
  list-style: none;
  -moz-column-count: 2;
     -moz-column-gap: 20px;
     -webkit-column-count: 2;
     -webkit-column-gap: 20px;
     column-count: 2;
     column-gap: 20px;
   }
// // .stuff {
// //   list-style: none;
// //   list-style: none;
// //   -moz-column-count: 1;
// //   -moz-column-gap: 20px;
// //   -webkit-column-count: 1;
// //   -webkit-column-gap: 20px;
// //   column-count: 1;
// //   column-gap: 20px;
// // }
// //  .name {
// //   font-weight: normal;
// //   max-width: 500px;
// // }
 




